<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list>

      <div class="row">
        <div class="col-xs-12">
          <app-game-control (valueChange)="onValueChange($event)"></app-game-control>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-even *ngFor="let evenNumber of evenNumbers" [evenNumber]="evenNumber"></app-even>
          <app-odd *ngFor="let oddNumber of oddNumbers" [oddNumber]="oddNumber"></app-odd>
        </div>
      </div>
    </div>
  </div>
</div>
